<div class="formular">
<%= form_with(model: inscription) do |form| %>
  <% if inscription.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inscription.errors.count, "error") %> prohibited this inscription from being saved:</h2>

      <ul>
        <% inscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Prénom, style: "display: block" %>
    <%= form.text_field :vorname %>
  </div>

  <div>
    <%= form.label :Nom, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :Age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>


  <div>
    <%= form.label :Adresse, style: "display: block" %>
    <%= form.text_field :adress %>
  </div>

  <div>
    <%= form.label :Email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :Telephone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :genre, style: "display: block" %>
    <%= form.text_field :gender %>
  </div>

  <div class="send">
    <%= form.submit 'Envoyer', class: "envoyer" %>
  </div>
<% end %>
 </div>
