<div id="<%= dom_id inscription %>">

  <p>
    <strong>Age:</strong>
    <%= inscription.age %>
  </p>

  <p>
    <strong>Vorname:</strong>
    <%= inscription.vorname %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= inscription.name %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= inscription.adress %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= inscription.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= inscription.phone %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= inscription.gender %>
  </p>

</div>
